/* SOUNDLOGO RESPONSIVE*/

@media only screen and (max-width: 939px) {
  .sound img {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .sound {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

/*   IMAGE RESPONSIVE:*/

@media only screen and (max-width: 779px) {
  .synth img {
    display: none;
  }
}

@media only screen and (max-width:1130px) {
  .synth {
    width: 50%;
  }
}

@media only screen and (max-width:968px) {
  .synth {
    width: 40%;
  }
}

/*H1 RESPONSIVE*/

@media only screen and (max-width: 1225px) {
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 997px) {
  h1 {
    font-size: 55px;
  }
}

@media only screen and (max-width: 922px) {
  h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 838px) {
  h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .top {
    height: 100% !important;
  }
  h1 {
    font-size: 48px;
    text-align: left;
  }
  .info1 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
  .info1 {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 471px) {
  h1 {
    font-size: 35px;
  }
  .info1 {
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

/*SOUNDCLOUD RESPONSIVE*/

@media screen and (max-width: 631px) {
  iframe {
    width: 100%;
  }
}

/*TEXT RESPONSIVE*/

@media screen and (max-width: 767px) {
  .desc {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .info2 {
    font-size: 1rem;
    font-weight: 500;
  }
}

/*OLD AND NEW PRICE RESPONSIVE*/

@media screen and (max-width: 401px) {
  .old {
    text-align: center;
  }
}

@media screen and (max-width: 401px) {
  .new {
    text-align: center;
  }
}

/*BUY NOW BUTTON RESPONSIVE*/

@media screen and (max-width: 401px) {
  .buybtn {
    text-align: center;
  }
}

@media screen and (min-width: 402px) and (max-width: 568px) {
  .buybtn {
    margin-bottom: 50px;
  }
}

/*100+ RESPONSIVE*/

@media screen and (max-width: 585px) {
  .info1 {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

/*BOTTOM - HEADING RESPONSIVE*/

@media only screen and (max-width: 810px) {
  .licensetxt {
    font-size: 16px;
  }
}

@media only screen and (max-width: 569px) {
  .licensetxt h2 {
    text-align: left;
  }

}

@media only screen and (max-width: 569px) {
  .bottomLicence {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 779px) {
  .buybtn {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 60px;
    margin-top: -40px;
  }
}

@media only screen and (max-width: 400px) {
  .info1 {
    font-size: 30px;
    padding-top: 25px;
  }
}

@media only screen and (max-width: 400px) {
  .old {
    margin-top: -10px;
  }
}

@media only screen and (max-width: 400px) {
  .soundcloud {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 540px) {
  .circle {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .circle {
    width: 50%;
    height: 50%;
    right: -180px;
    top: -230px;
  }
}